/* Resetando configurações */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/planodefundo.jpg);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#magicCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Canvas vai ficar atrás do conteúdo */
}

.final-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    opacity: 0; /* Inicialmente invisível para a animação */
    animation: fadeIn 10s forwards; /* Animação do texto */
    z-index: 10;
}

.message-box {
    background: #fff; /* Cor de fundo para a caixa de mensagem */
    border-radius: 20px;
    padding: 40px;
    width: 90%;
    max-width: 650px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.message-box:before {
    content: "";
    position: absolute;
    top: -100%;
    left: 50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.4) 100%);
    transform: translateX(-50%);
    animation: magicalEffect 3s forwards;
}

.title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #F06292; /* Rosa vibrante */
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    animation: titleAnimation 1s forwards;
}

.message {
    font-size: 1.3rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 30px;
    text-align: justify;
    opacity: 0;
    animation: fadeInMessage 3s 1s forwards; /* Animação com atraso para o texto */
}

@keyframes magicalEffect {
    0% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes titleAnimation {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInMessage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
